button{
    height:2.5rem!important;
    width:6rem !important;
    margin-top:3rem !important;
    background-color:rgb(143, 139, 140)!important;
    color:rgb(255, 255, 255)!important;
    padding-top:.3rem!important;
    border:.1rem solid black!important;


}