
.btnStart{

    width:6rem;
    margin-top:3rem;
    background-color:rgb(143, 139, 140)!important;
    color:rgb(255, 255, 255)!important;
    padding-top:.3rem;
    border:.1rem solid black;
}
.carddiv{
    display:flex;
}

@media (min-width:150px) and (max-width:400px){
    .carddiv{
        display: flex;
        flex-direction: column;
        height: 27rem;
        justify-content: space-evenly;
    }
}

h2{
    color:rgb(105, 101, 101);
    font-weight:900;

}
.resstartbtn{
    height:2.5rem;
    width:6rem;
    margin-top:3rem;
    background-color:rgb(143, 139, 140)!important;
    color:rgb(255, 255, 255)!important;
    padding-top:.3rem;
    border:.1rem solid black;

}
h6{
    color:rgb(194, 101, 101);
}
h1{
    color:rgb(158, 104, 75)
}
@media (min-width:400px) and (max-width:500px){
    h1{
      font-size: 200%!important;
}
}
@media (min-width:100px) and (max-width:400px){
    h1{
      font-size: 150%!important;
}
}
